<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>Home Page</h1>
    <p>Please fill in the form below</p>

    <form action="/" method="POST">
        <input type="text" placeholder="Enter Your name" name="name">
        <input type="email" placeholder="Enter Your email" name="email">
        <input type="password" placeholder="Enter Your password" name="password">
        <button type="submit">Submit</button>
    </form>
</body>

</html>