<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %} - My Webpage</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer">
        {% block footer %}
        &copy; Copyright 2026 by karan. All rights reserved.
        {% endblock %}
    </div>
</body>

</html>