{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Welcome to the homepage.</h1>
<p>The base template is created in flask jinja2 where there are two main
    blocks called title and content and we can use that base content every where in our project by using extends keyword
    The title block is used to define the title of the page and the content block is used to define the content of the
    page
    the footer block is used to define the footer of the page
    the footer block is not mandatory to use


</p>
{% endblock %}